<h1>Video King Post Forum</h1>
<h2>Click on the 'Create Post' button to enter your favorite game!</h2>
<a href="/posts/new">Create Post</a>
<% @posts.each do |post| %>
   <h2><a href="/posts/<%= post.id %>"> <%= post.title %></a></h2>
   <p>content: <%= post.content %></p>
   <p>user_id: <%= post.user_id %></p>
   <% # if the currently logged in user created this recipe: %>
   <a href="/posts/<%= post.id %>/edit">Edit </a>
   <form action="/posts/<%= post.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
   </form>
<% end %>


